:root{
    --white: #fffbfb;
    --grey: #f0eef1;
    --black: #050505;
    --shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body{
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

/* Header */
.head{
    background-color: var(--white);    
    box-shadow: var(--shadow);
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 1.5rem;
    transition: all 0.1s ease-in-out;
}

.title{
    font-size: 40px;
    font-weight: bolder;
}

.login{
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 18px;
}

.login:hover{
    cursor: pointer;
    filter: brightness(90%);
}

/* Main Content */
.main-content{
    background-color: var(--grey);
    flex: 1 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 4rem;
    gap: 1.25rem;
}

.add{
    background-color: var(--grey);
    border: none;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 20px;
}

.add:hover{
    cursor: pointer;
    filter: brightness(90%);
}

.library{
    width: 95%;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.book{
    background-color: var(--white);
    padding: 15px;
    border-radius: 5px;
    box-shadow: var(--shadow);
    margin-bottom: 15px;
    width: 48%;
}

/* Footer */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey);
}

.footer p{
    font-weight: bold;
    margin-right: 10px;
}

.github-logo{
    width: 30px;
    height: 30px;
}

@media(min-width: 1000px){
    .head{
        justify-content: space-around;
        padding: 24px 6rem;
    }
}

@media (max-width: 400px){
    .head{
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding-top: 10px;
    }

    .main-content{
        margin-top: 0;
    }
}